<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/admin_panel/base.css' %}">
    <link rel="icon" href="{% static 'imgs/logo.ico' %}">
    <title>Панель администратора</title>
</head>
<body>

    <div class="navbar">
        <h1>Панель администратора</h1>
    </div>

    <h1 style="margin: 1rem 0; padding-left: 1rem;">Основные настройки</h1>
    <div class="content">
        <div class="config">
            <div class="config-floating">
              <input type="text" value="{{ config.ADDRESS }}" id="address" placeholder=" " onchange="update_config()">
              <label for="address">Адрес</label>
            </div>

            <div class="config-floating">
              <input type="tel" value="{{ config.PHONE_NUMBER }}" id="phone" placeholder=" " onchange="update_config()">
              <label for="phone">Номер телефона</label>
            </div>

            <div class="config-floating">
              <input type="url" value="{{ config.MAX_LINK }}" id="max-link" placeholder=" " onchange="update_config()">
              <label for="max-link">Ссылка на MAX</label>
            </div>

            <div class="config-floating">
              <input type="url" value="{{ config.WA_LINK }}" id="wa-link" placeholder=" " onchange="update_config()">
              <label for="wa-link">Ссылка на WhatsAPP</label>
            </div>

            <div class="config-floating">
              <input type="text" value="{{ config.WORK_HOURS }}" id="work-hours" placeholder=" " onchange="update_config()">
              <label for="work-hours">Часы работы</label>
            </div>
        </div>

        <div class="desc">
            <div class="config-floating">
                <textarea id="description" placeholder=" " onchange="update_config()">{{ config.DESCRIPTION }}</textarea>
                <label for="description">Основное описание</label>
            </div>
            <div class="config-floating">
                <textarea id="roles" placeholder=" " onchange="update_config()">{{ config.PRAVILA }}</textarea>
                <label for="roles">Наши правила</label>
            </div>
            <div class="config-floating">
                <textarea id="reserv_roles" placeholder=" " onchange="update_config()">{{ config.USLOVIYA }}</textarea>
                <label for="reserv_roles">Условия бронирования </label>
            </div>
            <div class="config-floating">
                <textarea id="arenda" placeholder=" " onchange="update_config()">{{ config.ARENDA }}</textarea>
                <label for="arenda">Аренда комнаты под угощения</label>
            </div>
        </div>

        <h1 style="margin: 1rem 0; padding-left: 1rem;">Часто задаваемые вопросы</h1>
        <div class="questions">
            <table class="qtable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Вопрос</th>
                        <th>Ответ</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr class="question" id="question_{{ question.id }}">
                            <td>
                                #{{ question.id }}
                            </td>
                            <td class="q">
                                {{ question.question }}
                            </td>
                            <td class="a">
                                {{ question.answer }}
                            </td>
                            <td class="acts">
                                <div class="btns">
                                    <button class="act-button edit" onclick="show_edit_question({{ question.id }})">Изменить</button>
                                    <button class="act-button del" onclick="show_rm_question({{ question.id }})">Удалить</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="add-question" onclick="show_add_question()">Добавить</button>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>

        <h1 style="margin: 1rem 0; padding-left: 1rem;">Квесты</h1>
        <div class="quests">
            {% for quest in quests %}
                <div class="quest" id="quest_{{ quest.id }}">
                    <div class="top">
                        <div class="quest-image-handler">
                            <img src="/media/{{ quest.image }}" alt="" class="quest-image">
                        </div>
                        <div class="quest-data">
                            <h2>{{ quest.title}}</h2>
                            {{ quest.desc|linebreaks }}
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="quest-price">
                            {{ quest.price }} ₽
                        </div>
                        <div class="quest-acts">
                            <button onclick="show_edit_quest({{ quest.id }}, '{{ quest.title }}')" class="act-button edit">Изменить</button>
                            <button onclick="show_rm_quest({{ quest.id }}, '{{ quest.title }}')" class="act-button del">Удалить</button>
                            <button
                                {% if quest.is_active %}
                                    class="active-quest"
                                {% else %}
                                    class="not-active-quest"
                                {% endif %}
                            >
                                {% if quest.is_active %}
                                    Активен
                                {% else %}
                                    Не активен
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="quest-add" onclick="show_add_quest()">
                +
            </div>
        </div>
    </div>



    <div id="rm_question_modal">
        <h2 class="modal-title" id="rm_question_modal_title"></h2>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_rm_question_modal_button" onclick="hide_rm_question()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_rm_question_button">Удалить вопрос</button>
        </div>
    </div>

    <div id="edit_question_modal">
        <h2 class="modal-title" id="edit_question_modal_title"></h2>

        <div class="config-floating">
            <textarea id="edited_question" placeholder=" " onchange="update_config()"></textarea>
            <label for="edited_question">Вопрос</label>
        </div>

        <div class="config-floating">
            <textarea id="edited_answer" placeholder=" " onchange="update_config()"></textarea>
            <label for="edited_answer">Ответ</label>
        </div>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_edit_question_modal_button" onclick="hide_edit_question()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_edit_question_button">Сохранить</button>
        </div>
    </div>

    <div id="add_question_modal">
        <h2 class="modal-title" id="add_question_modal_title"></h2>

        <div class="config-floating">
            <textarea id="adding_question" placeholder=" " onchange="update_config()"></textarea>
            <label for="adding_question">Вопрос</label>
        </div>

        <div class="config-floating">
            <textarea id="adding_answer" placeholder=" " onchange="update_config()"></textarea>
            <label for="adding_answer">Ответ</label>
        </div>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_add_question_modal_button" onclick="hide_add_question()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_add_question_button">Добавить</button>
        </div>
    </div>



    <div id="rm_quest_modal">
        <h2 class="modal-title" id="rm_quest_modal_title"></h2>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_rm_quest_modal_button" onclick="hide_rm_quest()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_rm_quest_button">Удалить квест</button>
        </div>
    </div>

    <div id="edit_quest_modal">
        <h2 class="modal-title" id="edit_quest_modal_title"></h2>

        <div class="file-upload">
            <input type="file" id="custom-file-input-1">
            <label for="custom-file-input-1" id="custom-file-label-1">Выберите файл</label>
        </div>

        <div class="config-floating">
            <textarea id="edited_title" placeholder=" "></textarea>
            <label for="edited_title">Название</label>
        </div>

        <div class="config-floating">
            <textarea id="edited_desc" placeholder=" "></textarea>
            <label for="edited_desc">Описание</label>
        </div>
        
        <div class="config-floating">
            <textarea id="edited_desc2" placeholder=" "></textarea>
            <label for="edited_desc2">Дополнительное описание</label>
        </div>

        <div class="config-floating">
            <input id="edited_price" placeholder=" " type="number">
            <label for="edited_price">Стоимость</label>
        </div>

        <div class="config-floating-checkbox">
            <input type="checkbox" id="edited_activity">
            <label for="edited_activity">Активный квест</label>
        </div>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_edit_quest_modal_button" onclick="hide_edit_quest()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_edit_quest_button">Сохранить</button>
        </div>
    </div>

    <div id="add_quest_modal">
        <h2 class="modal-title" id="add_quest_modal_title"></h2>

        <div class="file-upload">
            <input type="file" id="custom-file-input-2">
            <label for="custom-file-input-2" id="custom-file-label-2">Выберите файл</label>
        </div>

        <div class="config-floating">
            <textarea id="added_title" placeholder=" "></textarea>
            <label for="added_title">Название</label>
        </div>

        <div class="config-floating">
            <textarea id="added_desc" placeholder=" "></textarea>
            <label for="added_desc">Описание</label>
        </div>

        <div class="config-floating">
            <textarea id="added_desc2" placeholder=" "></textarea>
            <label for="added_desc2">Дополнительное описание</label>
        </div>

        <div class="config-floating">
            <input id="added_price" placeholder=" " type="number">
            <label for="added_price">Стоимость</label>
        </div>

        <div class="config-floating-checkbox">
            <input type="checkbox" id="added_activity">
            <label for="added_activity">Активный квест</label>
        </div>

        <div class="modal-actions">
            <button style="background-color: #666666;" id="close_add_quest_modal_button" onclick="hide_add_quest()">Закрыть</button>
            <button style="background-color: indianred;" id="confirm_add_quest_button">Добавить</button>
        </div>
    </div>



    {% block scripts %}
        <script src="{% static 'js/admin_panel/main.js' %}"></script>
    {% endblock %}

</body>
</html>